@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*=====================*/
body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #808080;
}

main {
  max-width: 1330px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
  color: #f2f3f4;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  column-gap: 15px;
  justify-content: center;
}

nav.navigation {
  position: relative;
  overflow: hidden;
  width: 10%;
  min-width: 100px;
  padding: 10px 0 0 10px;
  background-color: #563d3d;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 4px 1px 31px 1px #563d3d;
  -moz-box-shadow: 4px 1px 31px 1px #563d3d;
  box-shadow: 4px 1px 31px 1px #563d3d;
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav__list > li > a {
  text-decoration: none;
  color: #f2f3f4;
}

.content {
  width: 80%;
  min-height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 20%;
  display: flex;
  min-height: 50px;
  max-height: 150px;
  align-items: center;
  justify-content: center;
  background-color: #516644;
}

.article__wrapper {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

.article {
  background: #682828;
  padding: 10px;
  width: 30%;
  min-width: 200px;
  justify-content: center;
  flex-grow: 1;
}

.wrapper__content {
  display: flex;
  gap: 15px;
}

.aside {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 15px 0;
  padding: 10px;
  background-color: #ef5b5b;
  min-width: 130px;
}

.aside > p {
  font-style: italic;
}

.footer {
  height: 20%;
  min-height: 50px;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #76589d;
}

/*==================*/

#menu__toggle {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 100%;
  transform: translateX(-120%);
  width: 25px;
  height: 25px;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 100%;
  transform: translateX(-120%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 5;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.nav__list {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: auto;
  height: 100%;
  margin: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.nav__item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-weight: 600;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .nav__list {
  visibility: visible;
  left: 0;
}

/*Accordion*/
#chck1,
#chck2 {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #f97f7f;
  font-weight: bold;
  cursor: pointer;
}

.tab-label:hover {
  background: #f33c3c;
}

.tab-label::after {
  content: '\2192';
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.3s ease-in-out;
}

input:checked + .tab-label {
  background: #874545;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/*Dropdown*/
.dropbtn {
  background-color: #3a4eca;
  color: #f2f3f4;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: min-content;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e7fcff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #94cfff;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropbtn {
  background-color: #5876c9;
  transition: all 0.3s ease-in-out;
}
