// fonts
$main-font: "Roboto", sans-serif;

// colors
$bg-body: #808080;
$bg-main: #f2f3f4;
$bg-nav: #563d3d;
$bg-header: #516644;
$bg-article: #682828;
$bg-aside: #ef5b5b;
$bg-aside-active: #874545;
$bg-footer: #76589d;
$bg-dropdn: #3a4eca;
$bg-dropdn-active: #5876c9;
$bg-acc: #f97f7f;
$bg-acc-active: #f33c3c;
